<% @posts.each do |post| %>
  <div class="mb-6">
    <div class="mx-auto max-w-md border bg-black border-white rounded-md text-white border-1/4">

      <div class="flex items-center justify-between p-3">
        <div class="flex items-center gap-3">
          <% if post.user.photo.attached? %>
            <%= image_tag post.user.photo, class: "w-10 h-10 rounded-full object-cover" %>
          <% end %>
          <div class="font-medium text-sm">
            <%= link_to post.user_email.split("@").first, user_path(post.user_id), class: "hover:underline" %>
          </div>
        </div>
        <% if post.user == current_user %>
          <div class="text-xs">
            <%= link_to 'Edit', edit_post_path(post.id), class: 'text-blue-400 hover:underline mr-2' %>
            <%= button_to 'Delete', post_path(post.id), method: :delete, class: 'text-red-500 hover:underline' %>
          </div>
        <% end %>
      </div>

      <div>
        <%= image_tag post.photo, class: "mb-2 w-full object-cover rounded" %>
      </div>

      <div class="px-3">
        <%= render partial: "likes", locals: { post: post } %>
      </div>


      <div class="px-3 py-2 text-sm text-gray-200">
        <%= post.description %>
      </div>

      <div class="px-3 py-2 space-y-2">
        <% post.comments.each do |comment| %>
          <div class="flex justify-between items-start text-sm text-gray-300">
            <p>
              <%= link_to comment.user_email.split("@").first, user_path(comment.user_id), class: "text-white font-semibold mr-1 hover:underline" %>
              <%= comment.description %>
            </p>
            <%= button_to 'Delete', post_comment_path(post_id: post.id, id: comment.id), method: :delete, class: 'text-xs text-red-600 hover:underline hover:cursor-pointer rounded px-2 py-1' %>
          </div>
        <% end %>
      </div>

      <div class="px-3 py-4 border-t border-white">
        <%= simple_form_for Comment.new, url: post_comments_path(post), method: :post do |f| %>
          <div class="mb-2">
            <%= f.input :description, label: false, placeholder: 'Add a comment...', input_html: { class: 'bg-[#1a1a1a] text-white text-sm px-3 py-2 rounded border border-gray-200 w-full' } %>
          </div>
          <div>
            <%= f.submit 'Post', class: 'text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-4 py-2.5' %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
<% end %>
